<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="icon" href="/img/ico.png" type="image/png">
  <meta charset="UTF-8">
  <title>Mensagem já aberta</title>
  <style>
    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f8d7da;
      color: #721c24;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Mensagem já aberta :(</h1>
    <p>Essa mensagem não pode mais ser visualizada.</p>
  </div>
</body>
</html>
